.issues-view {
  background-color: #fff;
  // border: solid 1px #e0e4e8;
  // border-radius: 2px;
  // margin: 0 8px;

  &.notes {
    p img {
      display: block;
      max-width: 420px !important;
    }
  }

  .post {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 12px 20px;
    min-height: calc(100vh - 150px);
    font-size: 14px;
    position: relative;

    .woap {
      position: absolute;
      right: 10px;
      width: 30px;
      cursor: pointer;
    }

    h1.title {
      text-align: center;
      padding: 20px 0 10px;
      cursor: pointer;
      font-family: 'lab';
      hyphens: none;

      > span {
        padding-right: 5px;
        background: linear-gradient(to bottom, transparent 60%, #c4cfc0 40%);
        font-variation-settings: 'size' 120, 'quad' 200, 'bevl' 100, 'oval' 400;
      }

      .issues {
        font-size: 14px;
        margin-right: 8px;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        background-color: #c4cfc0;
        padding: 6px 10px 0;
        border-top-left-radius: 16px;
        text-shadow: 0 0 2px #000;
      }

      @media screen and (max-width: 680px) {
        font-size: 18px;
        line-height: 28px;
        font-variation-settings: 'size' 400, 'quad' 1000, 'bevl' 1000,
          'oval' 1000;

        .issues {
          font-size: 12px;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: none;
      margin-top: 1rem;
      margin-bottom: 0.6rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    .status {
      margin-bottom: 10px;
    }
  }
}

.comment {
  &-item {
    padding: 3px;
    border-radius: 8px;
    background-color: #f5f5f1;
  }

  &-author {
    border-radius: 4px !important;
    margin-left: 3px;

    img {
      border-radius: 0 !important;
    }

    span {
      font-weight: bold;
      color: #d2d2d2;
    }
  }

  &-body {
    padding: 16px 16px 0;

    h2 {
      padding-top: 0 !important;
      margin-top: 5px !important;
    }

    img {
      max-width: 420px !important;
    }
  }
}
