.issues-view {
  padding-top: 0 !important;

  &.notes {
    p img {
      display: block;
      max-width: 420px !important;
    }
  }

  .post {
    max-width: 960px;
    margin: 0 auto;
    min-height: calc(100vh - 150px);
    font-size: 14px;
    position: relative;
    font-family: -apple-system, Segoe UI, Helvetica, Arial, sans-serif,
      Apple Color Emoji, Segoe UI Emoji;

    .fzj-post {
      padding: 1px 12px 20px;
      background-color: #fff;
      margin-bottom: 20px;
    }

    .fzj-comment {
      // padding: 0;
      // border-radius: 8px;
      background-color: rgba(#222, 0.1);
      border: solid 2px rgba(#000, 0.3);
    }

    .woap {
      position: absolute;
      right: 10px;
      width: 30px;
      cursor: pointer;
    }

    img {
      &.emoji {
        max-width: unset;
        width: unset;
        transform: scale(0.8);
        vertical-align: sub;
      }
    }

    h1.title {
      text-align: center;
      padding: 20px 0 10px;
      cursor: pointer;
      font-family: 'lab';
      hyphens: none;

      > span {
        padding-right: 5px;
        background: linear-gradient(to bottom, transparent 60%, #c4cfc0 40%);
        font-variation-settings: 'size' 50, 'quad' 70, 'bevl' 40, 'oval' 80;
      }

      .issues {
        font-size: 14px;
        margin-right: 8px;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        background-color: #c4cfc0;
        padding: 6px 10px 0;
        border-top-left-radius: 12px;
        text-shadow: 0 0 1px #000;
      }

      @media screen and (max-width: 680px) {
        font-size: 18px;
        line-height: 28px;
        font-variation-settings: 'size' 400, 'quad' 1000, 'bevl' 1000,
          'oval' 1000;

        .issues {
          font-size: 12px;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: none;
      margin-top: 1rem;
      margin-bottom: 0.6rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    .status {
      margin-bottom: 10px;
    }
  }
}
