.issues-view {
  background-color: #fff;
  // border: solid 1px #e0e4e8;
  // border-radius: 2px;
  // margin: 0 8px;

  .post {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 12px 20px;
    min-height: calc(100vh - 150px);
    font-size: 14px;

    h1.title {
      text-align: center;
      padding: 20px 0 10px;
      cursor: pointer;

      > span {
        background: linear-gradient(to bottom, transparent 70%, #c4cfc0 30%);
        padding-right: 5px;
      }

      .issues {
        font-size: 14px;
        margin-right: 8px;
        color: #fff;
        font-weight: bold;
        font-style: italic;
        background-color: #c4cfc0;
        padding: 0 5px;
        border-top-left-radius: 10px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: none;
      margin-top: 1rem;
      margin-bottom: 0.6rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    .status {
      margin-bottom: 10px;
    }
  }
}

.comment {
  &-item {
    padding: 3px;
    border-radius: 8px;
    background-color: #f0f0f0;
  }

  &-author {
    border-radius: 4px !important;
    margin-left: 3px;

    img {
      border-radius: 0 !important;
    }

    span {
      font-weight: bold;
      color: #d2d2d2;
    }
  }

  &-body {
    padding-left: 20px;
  }
}
