.error-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .error-icon {
    width: 120px;
    margin-top: -20vh;
  }

  p {
    max-width: 240px;
    color: #888;
  }
}
