.navbar {
  .site-name {
    display: none;
  }
}

.sidebar-heading {
  > span:first-child {
    user-select: none;
  }
}

.footer {
  font-size: 12px;
}

.hero {
  img {
    width: 160px;
    // opacity: 0.7;
    filter: drop-shadow(3px 3px 5px #000) invert(12%);
  }
}

pre {
  color: #999;
}

// .home {
//   .feature {
//     flex-grow: 1;
//     flex-basis: 50% !important;
//     max-width: 50% !important;
//   }
//   @media (max-width: 719px) {
//     .feature {
//       flex-grow: 1;
//       flex-basis: 100% !important;
//       max-width: 100% !important;
//     }
//   }
// }

s {
  color: #f33;
}