.fzj-reaction {
  border: solid 1px #d8d8d8;
  padding: 2px 8px;
  margin-right: 5px;
  border-radius: 5px;
  color: #686868;
  font-weight: bold;
  margin-bottom: 5px;

  .emoji {
    margin-right: 5px;
  }
}
