#fzj-backtop {
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
  box-shadow: inset 0 0 5px #888;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 36px;
    height: 36px;
  }

  svg {
    width: 50%;
  }

  &.hide {
    transform: scale(0);
    opacity: 0;
  }

  &.show {
    transform: scale(1);
    opacity: 1;
  }
}
