.comment {
  &-item {
    padding: 3px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }

  &-author {
    line-height: 0;
    border-radius: 4px !important;
    background: #535d6f;

    img {
      border-radius: 4px !important;
      border-color: transparent !important;
    }

    span {
      font-weight: bold;
      color: #eee !important;
    }
  }

  &-body {
    padding: 0 !important;
    // padding-left: 20px;
  }

  &-main {
    background-color: #fcfcfc;
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
  }

  &-replies {
    padding: 2px;

    &-author {
      img {
        border-radius: 50%;
        border-color: transparent !important;
      }
    }

    &-body {
      position: relative;
      margin-left: 24px;
      clear: both;
      padding-bottom: 1px;
      background-color: #fcfcfc;
      padding: 5px;
      border-radius: 5px;

      &::before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 1px;
        height: 100%;
        // background-color: #fff;
        border-left: dashed 2px #ccc;
        left: -15px;
      }
    }
  }
}
