.comment {
  &-item {
    padding: 3px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }

  &-author {
    line-height: 0;
    border-radius: 4px !important;
    background: #535d6f;

    img {
      border-radius: 4px !important;
      border-color: transparent !important;
    }

    span {
      font-weight: bold;
      color: #eee !important;
    }
  }

  &-body {
    padding-left: 20px;
  }
}
