.comment {
  &-item {
    padding: 3px 3px 0;
    // border-radius: 8px;
    // background-color: #f0f0f0;
    margin-bottom: 10px;
    border-bottom: solid 2px rgba(#000, 0.3);

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &-author {
    line-height: 0;
    border-radius: 4px !important;
    background: #535d6f;

    img {
      border-radius: 0 !important;
      border-color: transparent !important;
    }

    span {
      font-weight: bold;
      color: #eee !important;
    }
  }

  &-body {
    // padding-left: 20px;
    padding: 8px 8px 0;

    h2 {
      padding-top: 0 !important;
      margin-top: 5px !important;
    }
  }

  &-main {
    background-color: #fcfcfc;
    padding: 1px 8px;
    // margin: 2px;
    border-radius: 5px;
  }

  &-replies {
    padding: 2px 2px 12px;

    &-author {
      // border: solid 2px #000;
      img {
        border-radius: 50%;
        // border-color: transparent !important;
        z-index: 1;
      }
    }

    &-body {
      position: relative;
      margin-left: 24px;
      clear: both;
      background-color: #fcfcfc;
      padding: 5px;
      border-radius: 5px;

      &::before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 1px;
        height: 100%;
        // background-color: #fff;
        border-left: dashed 2px rgba(#000, 0.1);
        left: -15px;
        z-index: -1;
      }
    }
  }

  img {
    max-width: 420px !important;
  }
}
