.fzj-category {
  display: inline-block;
  // background: linear-gradient(to bottom right, #eee, #4285f4 50%);
  // background: linear-gradient(to bottom right, #eee, #607fb3 50%);
  // color: #fff;
  background: #e2e4e6;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
