.tags-view {
  padding: 0 12px 20px;

  h2 {
    font-size: 28px;
    font-family: 'lab';
    font-variation-settings: 'size' 30, 'quad' 40, 'bevl' 40, 'oval' 10;
  }

  .fzj-category {
    margin-bottom: 10px;
  }

  .fzj-label {
    margin-bottom: 5px;
  }
}
