.about-view {
  padding: 20px 12px 20px;

  .pic {
    border-radius: 4px;
  }

  .fzj-desc {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    line-height: 1.6;
    border-radius: 0px;
    box-shadow: inset 0 0 10px #888;
    padding: 10px;
    margin-bottom: 5px;

    &.lencx {
      font-size: 12px;
      padding: 8px;
      color: #888;

      .notes {
        color: #000;
        font-size: 14px;
      }

      p {
        margin: 0;
      }
    }
  }
}
