.fzj-avatar {
  display: inline-block;
  // background-color: #fff;
  background: linear-gradient(to bottom right, #eee, #f87da9 50%);
  border-radius: 10px;
  padding-right: 8px;
  text-decoration: none;
  line-height: 20px;

  img {
    width: 20px;
    vertical-align: middle;
    border-radius: 50%;
    border: solid 1px #faa;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    font-style: italic;
    color: #fff;
  }
}
