.home-view {
  h2 {
    padding: 0 15px;
    margin-bottom: 0;
  }

  .gh-card-box {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .gh-repo-card {
      padding: 5px;
      flex-grow: 2;
    }
  }
}
