@font-face {
  font-family: 'lab';
  src: url('/lab.woff2') format('woff2');
}

html,
body,
#root {
  margin: 0;
  font-family: DOS, Monaco, Menlo, Consolas, 'Courier New', monospace;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #f5f8fa;
  font-size: 14px;
  line-height: 1.4;
  touch-action: pan-x pan-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #dbdee2;
  padding: 0 5px;
  border-radius: 3px;
}

blockquote {
  border-left: solid 3px var(--blue);
  margin: 0;
  > p {
    margin-left: 8px;
  }
}

pre {
  overflow-x: auto;
  // background-color: #e3e3d3 !important;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  border: solid 2px #e0e4e8;

  code {
    background-color: transparent;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

:root {
  --theme: #3c92a8;
  --black: #282c34;
  --pink: #f87da9;
  --blue: #4285f4;
  --border-color: #e0e4e8;
  --border: solid 1px var(--border-color);

  /* *** shadow *** */
  --shadow-raised: 0 1px 2px rgba(46, 41, 51, 0.08),
    0 2px 4px rgba(71, 63, 79, 0.08);
  --shadow-floating: 0 2px 4px rgba(46, 41, 51, 0.08),
    0 4px 8px rgba(71, 63, 79, 0.16);
  --shadow-overlay: 0 4px 8px rgba(46, 41, 51, 0.08),
    0 8px 16px rgba(71, 63, 79, 0.16);
  --shadow-dialog: 0 4px 16px rgba(46, 41, 51, 0.08),
    0 8px 24px rgba(71, 63, 79, 0.16);
}

.view {
  padding-top: 58px;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;

  > [class*='-view'] {
    min-height: calc(100vh - 118px);
    padding-top: 10px;

    h2 {
      margin-top: 0;
      padding-top: 16px;
    }

    &::before,
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  .fzj-emoji {
    display: inline-block;
    margin-right: 5px;
  }
}

ul {
  padding-left: 24px !important;
}

li {
  margin-bottom: 6px;
}

a {
  color: var(--blue);
}

* {
  box-sizing: border-box;
}
