html,
body {
  margin: 0;
  font-family: DOS, Monaco, Menlo, Consolas, 'Courier New', monospace;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #eee;
  font-size: 14px;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #dbdee2;
  padding: 0 5px;
  border-radius: 3px;
  margin: 0 3px;
}

blockquote {
  border-left: solid 3px var(--blue);
  margin: 0;
  > p {
    margin-left: 8px;
  }
}

pre {
  overflow-x: auto;
  background-color: #e3e3d3;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  border: solid 2px #999;

  code {
    background-color: transparent;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

:root {
  --theme: #3c92a8;
  --black: #282c34;
  --pink: #f87da9;
  --blue: #4285f4;
  --border-color: #bbb;
  --border: solid 1px var(--border-color);

  /* *** shadow *** */
  --shadow-raised: 0 1px 2px rgba(46, 41, 51, 0.08),
    0 2px 4px rgba(71, 63, 79, 0.08);
  --shadow-floating: 0 2px 4px rgba(46, 41, 51, 0.08),
    0 4px 8px rgba(71, 63, 79, 0.16);
  --shadow-overlay: 0 4px 8px rgba(46, 41, 51, 0.08),
    0 8px 16px rgba(71, 63, 79, 0.16);
  --shadow-dialog: 0 4px 16px rgba(46, 41, 51, 0.08),
    0 8px 24px rgba(71, 63, 79, 0.16);
}

.view {
  padding-top: 70px;
}

ul {
  padding-left: 24px !important;
}

li {
  margin-bottom: 6px;
}

a {
  color: var(--blue);
}

* {
  box-sizing: border-box;
}
